.calendar-switcher {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &__month {
        font-weight: 700;
        font-size: 16px;
        color: #323854;

        width: 120px;
        text-align: center;
    }

    &--arrow {
        rotate: 180deg;
    }
}