.input-text {
    position: relative;
    max-width: 339px;
    width: 100%;
    
    input {
        width: 100%;

        color: inherit;
    }

    &--pas-visibility {
        position: absolute;
        top: 0;
        right: 12px;

        height: 100%;

        display: flex;
        align-items: center;

        background: transparent;
    }
}
