@font-face {
    font-family: "Circe Rounded";
    src: url("~App/fonts/CirceRounded-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Circe Rounded";
    src: url("~App/fonts/CirceRounded-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circe Rounded";
    src: url("~App/fonts/CirceRounded-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

