@font-face {
    font-family: 'Circe Rounded';
    src: url('CirceRounded-Regular.eot');
    src: local('Circe Rounded'), local('CirceRounded-Regular'),
        url('CirceRounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('CirceRounded-Regular.woff2') format('woff2'),
        url('CirceRounded-Regular.woff') format('woff'),
        url('CirceRounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Rounded Alt';
    src: url('CirceRounded-AltBold.eot');
    src: local('Circe Rounded Alt Bold'), local('CirceRounded-AltBold'),
        url('CirceRounded-AltBold.eot?#iefix') format('embedded-opentype'),
        url('CirceRounded-AltBold.woff2') format('woff2'),
        url('CirceRounded-AltBold.woff') format('woff'),
        url('CirceRounded-AltBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}