.info-widget {
    position: relative;

    z-index: 5;
    
    &__image {
        position: absolute;
        z-index: -1;
    }

    &__back {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}