.student-dropdown {
    position: absolute;
    top: calc(100% + 13px);
    right: 0;

    background-color: #fff;

    border: 1px solid #7362bc;
    border-radius: 12px;
    padding: 30px;
    
    padding: 30px;

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #323854;
    }

    &__students {
        margin-top: 12px;
    }
            
    &__student {
        display: flex;
        column-gap: 8px;

        border-radius: 12px;
        padding: 8px;
        width: 190px;
        height: 48px;
        
        &--active {
            background: #eef;
        }
    }

    &__student-avatar {
        border: 1px solid #7362bc;
        border-radius: 100px;
        width: 32px;
        height: 32px;
    }

    &__info {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name {
        font-weight: 400;
        font-size: 12px;
        line-height: 135%;
        color: #323854;
    }

    &__active-info {
        font-weight: 300;
        font-size: 10px;
        line-height: 120%;
        color: #323854;
    }

    &__triangle {
        position: absolute;
        top: -9px;
        right: 38px;
    }

    &__divider {
        margin: 12px 0;
        width: 100%;
        height: 1px;
        background: #eef;
    }

    &__logout {
        display: flex;
        justify-content: space-between;
    }

    &__logout-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        text-align: center;
        color: #008aff;
    }
}